<div class="pass-form"
          style="background-image:
          url('{{ 'assets/images/pass-form.webp' | theme }}')">
          <div class="container">
              <div class="title-wrap title-wrap--white">
                  <h2 class="title">Border permit Application</h2> 
              </div>
              <div class="pass-form__desc">
                  <p>We are happy  to  assist you with border permit application to all zones of Kyrgyzstan. <br>
                   Please feel free to contact us about any information needed.</p>
              </div>
            <a class="btn" href="{{ 'form-pass'|page }}">Fill out the form</a>
          </div>
      </div>